In [1]:
import pandas as pd

In [4]:
pd.DataFrame({
        'id': [100, 101, 102],
        'color': ['red', 'blue', 'red']
    }, columns=['id', 'color'], index=['a', 'b', 'c'])

    id color
a  100   red
b  101  blue
c  102   red

In [19]:
df = pd.DataFrame([ [100, 'red'], [101, 'blue'], [102, 'red'] ],
                columns=['id', 'color'],
             
            )

In [10]:
#convert numpy array to DataFrame\
import numpy as np

In [11]:
arr = np.random.rand(4, 2)
arr

array([[0.53686632, 0.57408217],
       [0.10635542, 0.32519079],
       [0.78851438, 0.71757466],
       [0.40917286, 0.22752882]])

In [13]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.536866  0.574082
1  0.106355  0.325191
2  0.788514  0.717575
3  0.409173  0.227529

In [15]:
pd.DataFrame({
        'student': np.arange(100, 110, 1),
        'test': np.random.randint(60, 101, 10)
    }).set_index('student')

         test
student
100        81
101        91
102        89
103        65
104        71
105        82
106        76
107        63
108        90
109        75

In [17]:
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape' )

In [21]:
s

c     round
b    square
Name: shape, dtype: object

In [22]:
pd.concat([df, s], axis = 1)

      id color   shape
0  100.0   red     NaN
1  101.0  blue     NaN
2  102.0   red     NaN
b    NaN   NaN  square
c    NaN   NaN   round