In [1]:
import pandas as pd

In [14]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

users = pd.read_table('data/u.user', sep='|', header=None, names=user_cols, index_col='user_id')

In [19]:
users.tail()

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [17]:
users.shape

(943, 4)

In [20]:
users.zip_code.duplicated().sum()

148

In [22]:
users.duplicated().sum()

7

In [25]:
users.loc[users.duplicated(keep=False), :]

         age gender occupation zip_code
user_id
67        17      M    student    60402
85        51      M   educator    20003
198       21      F    student    55414
350       32      M    student    97301
428       28      M    student    55414
437       27      F      other    20009
460       44      F      other    60630
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301

In [28]:
users.drop_duplicates(keep=False).shape

(929, 4)

In [29]:
users.duplicated(subset=['age', 'zip_code']).sum()

16