In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('data/ufo.csv')

In [3]:
ufo.shape

(18241, 5)

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.drop('City').head()

KeyError: "['City'] not found in axis"

In [9]:
ufo.drop('City', axis=1, inplace=True)

KeyError: "['City'] not found in axis"

In [10]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [11]:
  ufo.dropna(how='any')

      Colors Reported Shape Reported State              Time
12                RED         SPHERE    SC   6/30/1939 20:00
19                RED          OTHER    AK   4/30/1943 23:00
36                RED      FORMATION    VA    7/10/1945 1:30
44              GREEN         SPHERE    CA   6/30/1946 19:00
82               BLUE        CHEVRON    CA   7/15/1947 21:00
...               ...            ...   ...               ...
18213           GREEN       FIREBALL    CA  12/28/2000 19:10
18216          ORANGE          LIGHT    CA  12/29/2000 16:10
18220            BLUE           DISK    CA  12/29/2000 20:30
18233             RED        VARIOUS    AK  12/31/2000 21:00
18239             RED          LIGHT    WI  12/31/2000 23:45

[2490 rows x 4 columns]

In [12]:
  ufo.dropna(how='any').shape

(2490, 4)

In [13]:
ufo.shape

(18241, 4)

In [16]:
ufo

      Colors Reported Shape Reported State              Time
0                 NaN       TRIANGLE    NY    6/1/1930 22:00
1                 NaN          OTHER    NJ   6/30/1930 20:00
2                 NaN           OVAL    CO   2/15/1931 14:00
3                 NaN           DISK    KS    6/1/1931 13:00
4                 NaN          LIGHT    NY   4/18/1933 19:00
...               ...            ...   ...               ...
18236             NaN       TRIANGLE    IL  12/31/2000 23:00
18237             NaN           DISK    IA  12/31/2000 23:00
18238             NaN            NaN    WI  12/31/2000 23:45
18239             RED          LIGHT    WI  12/31/2000 23:45
18240             NaN           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]

In [17]:
ufo = ufo.set_index('Time')

In [18]:
ufo.tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             NaN       TRIANGLE    IL
12/31/2000 23:00             NaN           DISK    IA
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

In [19]:
ufo.fillna(method='bfill').tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

In [21]:
ufo.fillna(method='ffill').tail()

                 Colors Reported Shape Reported State
Time
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED           DISK    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             RED           OVAL    FL