# The DataFrame Data Structure

In [2]:
import pandas as pd

purchase_1 = pd.Series({
                'Name': 'Chris',
                'Item Purchased': 'Dog Food',
                'Cost': 22.50
            })

purchase_2 = pd.Series({
                'Name': 'Kevyn',
                'Item Purchased': 'Kitty Litter',
                'Cost': 2.50
            })

purchase_3 = pd.Series({
                'Name': 'Vinod',
                'Item Purchased': 'Bird Seed',
                'Cost': 5.50
            })

df = pd.DataFrame([ purchase_1, purchase_2, purchase_3], 
                    index = ['Store 1', 'Store 1', 'Store 2']
                 )

df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.5

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                    5.5
Name: Store 2, dtype: object

In [5]:
 df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [6]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [7]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5        5.5

In [8]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.5

In [11]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.5
Name: Cost, dtype: object

In [13]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [15]:
df.loc[ : , ['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.5

In [16]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.5

In [17]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.5

In [18]:
  copy_df = df.copy()
  copy_df = copy_df.drop('Store 1')
  copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.5

In [19]:
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.5

In [21]:
del copy_df['Name']

KeyError: 'Name'

In [22]:
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   5.5

In [23]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.5     None

# DataFrame Indexing and Loading

In [25]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.5
Name: Cost, dtype: float64

In [26]:
costs += 2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.5
Name: Cost, dtype: float64

In [27]:
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  24.5     None
Store 1  Kevyn   Kitty Litter   4.5     None
Store 2  Vinod      Bird Seed   7.5     None

In [28]:
!cat olympics.csv

cat: olympics.csv: No such file or directory