# The Series Data Structure

In [1]:
import pandas as pd

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [12]:
# NaN is a special floating point value. if there is None in
# int array then pandas make it to NaN

In [15]:
import numpy as np
np.NaN == None

False

In [17]:
np.nan == np.nan

False

In [18]:
np.isnan(np.nan)

True

In [20]:
sports = {
          'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'
        }

s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [21]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [22]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [25]:
sports = {
          'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'
        }

s = pd.Series(sports, index=['Golf', 'Sumo', 'Hocky'])
s

Golf     Scotland
Sumo        Japan
Hocky         NaN
dtype: object

In [26]:
sports = {
          'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'
        }

s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

# Querying a Series

In [30]:
s.iloc[3]

'South Korea'

In [31]:
s.loc['Golf']

'Scotland'

In [32]:
s[3]

'South Korea'

In [33]:
s['Golf']

'Scotland'

In [34]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [35]:
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [37]:
s[99]

'Bhutan'

In [40]:
s.loc[99]

'Bhutan'

In [42]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [45]:
total = 0

for item in s:
   total += item

print(total)

324.0

In [46]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [47]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    976
1    854
2    588
3    483
4    737
dtype: int64

In [48]:
len(s)

10000

In [51]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object